body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #1e5daf;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #5c1fb5; /* Darker purple */
}
